<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
	  <services>
		  <service
			  name="WcfService1.StudentLib"
			  behaviorConfiguration="StudentLibServiceBehavior">
			  <!-- This endpoint is exposed at the base address provided by host: http://localhost/servicemodelsamples/service.svc  -->
			  <endpoint address=""
						  binding="wsDualHttpBinding"
						  contract="WcfService1.IStudentLib" />
			  <!-- the mex endpoint is exposed at http://localhost/servicemodelsamples/service.svc/mex -->
			  <endpoint address="mex"
						binding="mexHttpBinding"
						contract="IMetadataExchange" />
		  </service>
	  </services>
    <behaviors>
      <serviceBehaviors>
		  <behavior name="StudentLibServiceBehavior">
			  <serviceMetadata httpGetEnabled="True"/>
			  <serviceDebug includeExceptionDetailInFaults="False" />
		  </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
